@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.window-containter{
    display: grid;
    /* margin: 2%; */
    background-color: #97dcef;
}
.posts-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto; 
}

.posts-collection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center;
    flex-wrap: wrap; 
    gap: 10px;
    margin: 2% 0;
}

.blog-title {
    font-size: 120px;
    font-family: "Pacifico";
    /* margin-bottom: 30px; */
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

.pagination {
    list-style-type: none;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination > li {
    padding: 0.6rem 0.8rem;
    border: 1px #e9724c solid;
}

.pagination li:hover {
    background-color: #ffe7b5;
    cursor: pointer;
}
.pagination li.active {
    font-weight: bold;
    color: white; 
    background-color: #e9724c;
    pointer-events: none;
}

.search {
    border-radius: 18px;
    border: 1px #e9724c solid;
    padding-left: 1%;
    width: 50%;
    margin-top: 2%;
}
