@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.window-containter{
    display: grid;
    /* margin: 2%; */
    background-color: #97dcef;
}
.posts-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto; 
}

.posts-collection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center;
    flex-wrap: wrap; 
    gap: 10px;
    margin: 2% 0;
}

.blog-title {
    font-size: 10vw;
    font-family: "Pacifico";
    padding-bottom: 2%;
    text-align: center;
    color: white;
    word-wrap: break-word;
}

.pagination {
    list-style-type: none;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination > li {
    padding: 0.6rem 0.8rem;
    border: 1px #e9724c solid;
}

.pagination li:hover {
    background-color: #ffe7b5;
    cursor: pointer;
}
.pagination li.active {
    font-weight: bold;
    color: white; 
    background-color: #e9724c;
    pointer-events: none;
}

.search {
    font-family: Roboto Slab;
    border-radius: 18px;
    border: 1px #e9724c solid;
    width: 50%;
    /* margin: 0 2 */
    height: 100%;
    padding: 1%;
    margin: auto;
}

@media (max-width: 630px) {
    .blog-title {
        font-size: 25vw;
        padding-bottom: 5%;
    }
    .search {
        width: 80%;
        height: 10vw;
        display: block;
        padding: 5%;
    }
    .posts-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto; 
    }
}

