__pycache__
db.sqlite3
*.pyc
venv
petpal/accounts/migrations/0001_initial.py
petpal/pets/migrations/0001_initial.py
petpal/media/pfp/a2_q3a.jpeg
petpal/sqldiff.exe
petpal/sqlite3_analyzer.exe
petpal/sqlite3.exe

node_modules
