.containter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-input {
    border-radius: 18px;
    border: 1px solid #e9724c;
    width: 600px;
    height: 50px;
    padding-left: 4%;
    margin-bottom: 5%;
}

.content-input {
    border-radius: 18px;
    border: 1px solid #e9724c;
    width: 800px;
    height: 245px;
    padding-left: 4%;
    margin-bottom: 5%;
    resize: vertical;
    
}

.label-font {
    font-size: 25px;
    color: black;
    font-family: "Roboto";
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.upload-icon {
    padding: 2%;
    margin: 4px;
    width: 50%;
    height: 50%;
    cursor: pointer;

}

.add-photo-blog {
    width: 380px;
    height: 200px;
    border: 1px dashed #177791;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    cursor: pointer;
}

.add-photo-blog:hover {
    background-color: white;
}

.upload-btn {
    border-radius: 18px;
    border: 1px solid #e9724c;
    background-color: #e9724c;
    color: #fff;
    font-weight: 700;
    width: 20%;
    height: 60px;
    font-size: 25px;
    font-family: "Roboto";
    margin-bottom: 1%;
}

.upload-btn:hover{
    border: 1px solid #e9724c;
    background-color: #fff;
    color: #e9724c;
}

@media (max-width: 630px) {
    .title-input {
        width: 60vw;
        height: 50px;
        padding-left: 4%;
        margin-bottom: 5%;
    }

    .content-input {
        width: 80vw;
        height: 60vh;
        padding-top: 4%;
        padding-left: 4%;
        margin-bottom: 5%;
        resize: vertical;  
    }

    .add-photo-blog {
        margin-bottom: 5%;
    }


    .upload-btn {
        font-weight: 700;
        width: 40%;
        height: 60px;
        font-size: 25px;
        font-family: "Roboto";
        margin-bottom: 5%;
    }
}

