@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto Slab');
.container-fluid{
    /* display: grid; */
    background-color: #97dcef;
    /* text-align: center; */
}


pre {
    white-space: pre-wrap; 
}

.post-container {
    display: grid;
    grid-template-columns: auto 1fr;
}

.post-title {
    font-size: 80px;
    font-weight: 100;
    font-family: Roboto Slab;
    color: black;
}

.post-content {
    font-size: 25px;
    color: black;
    font-family: "Roboto";
    text-align: left;
    padding: 0 2%;
}

.post-author {
    font-family: Roboto Slab;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: black;
    margin: 1%;
    padding-bottom: 3%;
}



/* 
.post-image {
    margin: 2%;
} */
.post-image img  {
    width: 500px; 
    object-fit: cover;
    /* margin: 2%;  */
}

.edit-btn {
    border-radius: 18px;
    border: 1px solid #e9724c;
    background-color: #e9724c;
    color: #fff;
    font-weight: 700;
    width: 30%;
    min-width: 150px;
    height: 60px;
    /* margin-left: auto;
    margin-right: 2%; */
}
.edit-btn:hover{
    border: 1px solid #e9724c;
    background-color: #fff;
    color: #e9724c;
}

@media (max-width: 630px) {
    .post-title {
        font-size: 15vw;
    }
}


