.box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 1px solid #177791;
    background-color: #177791;
    width: 25%;
    cursor: pointer;
    border-radius: 18px;
}

.box:hover {
    background-color: white;
    color: #177791;
}

.post-title-item {
    font-family: Roboto Slab;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.post-subtitle-item {
    font-family: Roboto Slab;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* margin-top: 45px; */
}

.post-image-item img {
    width: 100%;
    max-width: 300px;
    margin: auto;
    margin-bottom: 2%;
    object-fit: cover;
}