/* DEFAULTS TO MAKE CSS AND YOUR LIFE EASIER */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: "Roboto", sans-serif;

    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

html,
body {
    overflow-x: hidden;
}

/* CUSTOM CSS */

header {
    width: 100%;
    height: 64px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

a:hover,
a:active,
a:focus,
a:visited {
    text-decoration: none !important;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 0 106px 0 106px;
}

#header-logo,
#footer-logo {
    width: 118px;
}

#header-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-link {
    color: #177791;
    font-weight: 700;

    padding: 12px;
}

.nav-link:hover {
    border-radius: 4px;
    background-color: #177791;
    color: #fff;
}

#profile-button {
    display: flex;
    align-items: center;
    gap: 1rem;

    background-color: #fff;
    color: #177791;
    font-weight: 700;
    border: 0;
    padding: 0 12px;
}

#profile-button:hover {
    color: #97dcef;
}

#profile-pic {
    height: 40px;
    border-radius: 50%;
}

.button-outline {
    border-radius: 18px;
    border: 1px solid #e9724c;
    background-color: white;

    color: #e9724c;
    font-weight: 700;
    padding: 6.5px 25px;
}

.button-fill {
    border-radius: 18px;
    border: 1px solid #e9724c;
    background-color: #e9724c;

    color: #fff;
    font-weight: 700;
    padding: 6.5px 25px;
}

.button-dark {
    border-radius: 18px;
    background-color: #1e1e1e;

    color: #ffbda8;
    font-weight: 700;
    padding: 6.5px 25px;
}

footer {
    width: 100%;
    background: #177791;
}

#footer-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 30px 106px 10px;
}

#footer-nav-container {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 100%;
}

#footer-nav-container .nav-link {
    color: #fff;
}

#footer-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#footer-logo {
    filter: brightness(0) invert(1);
}

#copyright {
    color: #97dcef;
    text-align: center;
}

main {
    flex: 1;
}

.teal {
    background-color: #177791;
}

.light-pink {
    background-color: #FFBDA8;

}

.container {
    border-radius: 2rem;
}

/* ------login page----- */

.login-background {
    background-color: #FFBDA8;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: auto auto auto auto; */
    grid-gap: 0px;
    overflow: auto;
}

.login-background-grid-item {
    background-color: #FFBDA8;
    text-align: center;
    display: grid;
    align-self: center;
    justify-self: center;

}

.login-container {
    width: 100%;
    height: calc(100vh - 200px);
    margin-top: 16px; 
    margin-bottom: 16px;
    background-color: white;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title{
    display: flex;
    color: #1E1E1E;
    text-align: center;
    font-family: Roboto Slab;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 45px;
    
}

.login-subtitle {
    display: flex;
    color: #1E1E1E;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30.61px;
}

.form-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
    height: 100%;
    width: 100%;
}

.pawprint-image {
    justify-self: center;
    align-self: center;
}


.login-email-text, .create-pet-name-text {
    color: #1E1E1E;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 30.99px;
    justify-self: start;
    padding-left: 21.04px;
}

.login-password-text {
    color: #1E1E1E;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 34.07px;
    justify-self: start;
    padding-left: 21.04px;
}


.login-username, 
.login-password{
    width: 100%;
    height: 55%;
    margin-top: 10%; 
    padding-left: 5%;
    border-radius: 20px;
    border-radius: 18px;
    border: 1px solid #177791;
    padding-left: 10%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
}


/* .login-password, .create-pet-chars-input{
    width: 100%;
    height: 55%;
    margin-top: 16px; 
    margin-bottom: 31.15px;
    background-color: white;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    border-radius: 20px;
    border: 1px solid #177791;
    background: #FFF;
} */

.login-button{
    border-radius: 18px;
    border: 1px solid #E9724C;
    background-color: #E9724C;

    color: #fff;
    font-weight: 700;
    padding: 6.5px 25px;

    width: 165.806px;
    height: 43.973px;

    justify-self: center;
    align-self: center;
    margin-bottom: 20px;

}

.login-button:hover{
    border: 1px solid #E9724C;
    background-color: #fff;
    color: #E9724C;

}

/* ------login page----- */

/* -------pet-creation------- */
.pet-creation-title {
    color: #000;
    font-family: 'Pacifico', cursive;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;

}

.frame {
	width: 80%;
	height: 400px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	background: linear-gradient(to top right, #E9724C 0%, #FFBDA8 100%);
	color: #333;
	font-family: Roboto;
    margin-bottom: 20px;


}

.center {
	width: 80%;
	height: 80%;
	box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.title {
	width: 100%;
	height: 10%;
	border-bottom: 1px solid #999;
	text-align: center;
}

h1 {
	font-size: 16px;
	font-weight: 300;
	color: #666;
}

.add-photo {
	width: 30%;
	height: 30%;
	border: 1px dashed #177791;
	display: flex;
	align-items: center; 
	justify-content: center;
    position: relative; 
}

.upload-icon {
	margin: 5px;
	width: 80%;
	height: 80%;
}

.upload-input {
    position: absolute;
    top: 0;
    left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
    cursor: pointer;
}

.upload-button {
    border: 1px solid #177791;
    background-color: #177791;
    color: #fff;
    font-weight: 700;
    font-size: 14px; 
	width: 30%;
	height: 12%;
    justify-self: center;
    align-self: center;
    transition: all 0.3s ease-in-out;
	font-size: 14px;
    cursor: pointer;
}

.upload-button:hover {
    border: 1px solid #97DCEF;
    background-color: #fff;
    color: #97DCEF;
}

.pet-create-form-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
    height: 100%;
}

.create-pet-name-input, 
.create-pet-chars-input, 
.create-pet-sex-input,
.create-pet-age-input, 
.create-pet-size-input, 
.create-pet-med-hist-input, 
.create-pet-SNR-input, 
.create-pet-shelter-input, 
.create-pet-address-input,
.create-pet-contact-input, 
.create-pet-date-input{
    width: 100%;
    height: 55%;
    margin-bottom: 1%; 
    padding-left: 5%;
    border-radius: 20px;
    border-radius: 18px;
    border: 1px solid #177791;
    padding-left: 10%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
}

.create-pet-description-input {
    width: 100%;
    height: 55%;
    margin-bottom: 1%; 
    padding-left: 5%;
    border-radius: 20px;
    border-radius: 18px;
    border: 1px solid #177791;
    padding-left: 10%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
}


.add-pet{
    border: 1px solid #177791;
    background-color: #177791;
    color: #fff;
    font-weight: 700;
    font-size: 14px; 
	width: 80%;
	height: 50px;
    justify-self: center;
    align-self: center;
    transition: all 0.3s ease-in-out;
	font-size: 14px;
    cursor: pointer;
}

.add-pet:hover {
    border: 1px solid #97DCEF;
    background-color: #fff;
    color: #97DCEF;
}
