/* DEFAULTS TO MAKE CSS AND YOUR LIFE EASIER */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: "Roboto", sans-serif;

    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

html,
body {
    overflow-x: hidden;
}

/* CUSTOM CSS */

header {
    width: 100%;
    height: 64px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 0 106px 0 106px;
}

#header-logo {
    width: 118px;
}

#header-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

a {
    text-decoration: none;
}

.nav-link {
    color: #177791;
    font-weight: 700;

    padding: 12px;
}

.nav-link:hover {
    border-radius: 4px;
    background-color: #177791;
    color: #fff;
}

.button-outline {
    border-radius: 18px;
    border: 1px solid #E9724C;
    background-color: white;

    color: #E9724C;
    font-weight: 700;
    padding: 6.5px 25px;
}

.button-fill {
    border-radius: 18px;
    border: 1px solid #E9724C;
    background-color: #E9724C;

    color: #fff;
    font-weight: 700;
    padding: 6.5px 25px;
}

.button-dark {
    border-radius: 18px;
    background-color: #1E1E1E;

    color: #FFBDA8;
    font-weight: 700;
    padding: 6.5px 25px;
}

footer {
    width: 100%;
    height: 130px;

    background: #177791;
}

#footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 106px;
}

#copyright {
    color: #97DCEF;
}

main {
    flex: 1;
}

.teal {
    background-color: #177791;
}

.container {
    border-radius: 2rem;

}

.padding-v{
    padding: 2rem 0;
}

.padding-h{
    padding: 0 100px;
}

.margin-v{
    margin: 2rem 0;
}

.margin-h{
    margin: 0 100px;
}

.heading-slab {
    font-size: 40px;
    font-family: "Roboto Slab";
    font-weight: 900;
    word-wrap: break-word
}

.important-p {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
}

/* Pet details page */
.circle-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
}
