/* DEFAULTS TO MAKE CSS AND YOUR LIFE EASIER */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: "Roboto", sans-serif;

    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

html,
body {
    overflow-x: hidden;
}

/* CUSTOM CSS */

:root {
    --primary-color: #177791;
    --primary-color-dark: #97dcef;
    --secondary-color: #e9724c;
}

header {
    width: 100%;
    height: 64px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

a,
a:hover,
a:active,
a:focus,
a:visited {
    text-decoration: none;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 0 106px 0 106px;
}

#header-logo,
#footer-logo {
    width: 118px;
}

#header-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-link {
    color: var(--primary-color);
    font-weight: 700;
    border-radius: 4px;
    padding: 12px;
}

.nav-link:hover {
    background-color: var(--primary-color);
    color: #fff;
}

#profile-button {
    display: flex;
    align-items: center;
    gap: 1rem;

    background-color: #fff;
    color: var(--primary-color);
    font-weight: 700;
    border: 0;
    padding: 0 12px;
}

#profile-button:hover {
    color: var(--primary-color-dark);
}

#profile-pic {
    height: 40px;
    border-radius: 50%;
}

.dropdown-menu .dropdown-item {
    font-weight: 700;
    /* --bs-dropdown-link-active-color: var(--primary-color); */
    --bs-dropdown-link-active-bg: #fff;
    --bs-dropdown-link-hover-color: var(--primary-color);
    --bs-dropdown-link-hover-bg: #fff;
}

.dropdown-menu li:last-child .dropdown-item {
    --bs-dropdown-link-color: grey;
}

.dropdown-menu li:last-child .dropdown-item:hover {
    --bs-dropdown-link-hover-color: var(--primary-color);
}

.button-outline {
    border-radius: 18px;
    border: 1px solid var(--secondary-color);
    background-color: white;

    color: var(--secondary-color);
    font-weight: 700;
    padding: 6.5px 25px;
}

.button-fill {
    border-radius: 18px;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);

    color: #fff;
    font-weight: 700;
    padding: 6.5px 25px;
    transition: 0.15s;
}

.button-fill:hover {
    filter: brightness(85%);
}

.button-dark {
    border-radius: 18px;
    background-color: #1e1e1e;

    color: #ffbda8;
    font-weight: 700;
    padding: 6.5px 25px;
}

.search-bar {
    border: 1px var(--primary-color) solid;
    background: white;
    border-radius: 20px;
    width: 8rem;
    height: 2rem;
}

.search-width {
    width: 300px;
}

footer {
    width: 100%;
    background: var(--primary-color);
}

#footer-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 30px 106px 10px;
}

#footer-nav-container {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 100%;
}

#footer-nav .nav-link {
    color: #fff;
}

#footer-nav .nav-link:hover {
    color: var(--primary-color-dark);
}

#footer-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#footer-logo {
    filter: brightness(0) invert(1);
}

#copyright {
    color: var(--primary-color-dark);
    text-align: center;
}

main {
    flex: 1;
}

.teal {
    background-color: var(--primary-color);
}

.container {
    border-radius: 2rem;
}

/* ------login page----- */

.login-background {
    background-color: #ffbda8;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: auto auto auto auto; */
    grid-gap: 0px;
    overflow: auto;
}

.login-background-grid-item {
    background-color: #ffbda8;
    text-align: center;
    display: grid;
    align-self: center;
    justify-self: center;
}

.login-container {
    width: 100%;
    height: calc(100vh - 200px);
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: white;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title {
    display: flex;
    color: #1e1e1e;
    text-align: center;
    font-family: Roboto Slab;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 45px;
}

.login-subtitle {
    display: flex;
    color: #1e1e1e;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30.61px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
    height: 100%;
}

.pawprint-image {
    justify-self: center;
    align-self: center;
}

.login-email-text {
    color: #1e1e1e;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 30.99px;
    justify-self: start;
    padding-left: 21.04px;
}

.login-password-text {
    color: #1e1e1e;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 34.07px;
    justify-self: start;
    padding-left: 21.04px;
}

.login-username {
    width: 100%;
    height: 43.973px;
    margin-top: 16px;
    background-color: white;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 21.04px;

    border-radius: 20px;
    border: 1px solid var(--primary-color);
    background: #fff;
}

.login-password {
    width: 472.783px;
    height: 43.973px;
    margin-top: 10px;
    margin-bottom: 31.15px;
    background-color: white;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 21.04px;

    border-radius: 20px;
    border: 1px solid var(--primary-color);
    background: #fff;
}

.login-button {
    border-radius: 18px;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);

    color: #fff;
    font-weight: 700;
    padding: 6.5px 25px;

    width: 165.806px;
    height: 43.973px;

    justify-self: center;
    align-self: center;
    margin-bottom: 20px;
}

.login-button:hover {
    border: 1px solid var(--secondary-color);
    background-color: #fff;
    color: var(--secondary-color);
}

/* ------login page----- */

/* Pet details page */
.circle-image {
    height: 18vw;
    width: 18vw;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    object-fit: cover;
}

.padding-v {
    padding: 2rem 0;
}

.padding-h {
    padding: 0 100px;
}

.margin-v {
    margin: 2rem 0;
}

.margin-h {
    margin: 0 100px;
}

.heading-slab {
    font-size: 40px;
    font-family: "Roboto Slab";
    font-weight: 900;
    word-wrap: break-word;
}

.important-p {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
}
.carousel-item img {
    width: calc(100% / 4);
    height: 22rem;
    border-radius: 2rem;
    object-fit: cover;
}

.rounded-item {
    border-radius: 2rem;
}

.light-yellow-box {
    background-color: #ffe7b5;
}

#apply {
    width: fit-content;
}
